{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Patalin's Blog</h1>
            <span class="subheading">Just a test Blog.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author}}</a>
            on {{post.date}}</p>
          <a href="{{ url_for('delete_post', post_id=post.id) }}"> ✘ Delete post</a>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{ url_for('add_new_post') }}">Create New Post</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}